# This is a basic workflow to help you get started with Actions

name: build docs
on: 
  push:
    branches: 
      - master
  
jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Upgrade pip
        run: |
          # install pip=>20.1 to use "pip cache dir"
          python3 -m pip install --upgrade pip

      - name: Get pip cache dir
        id: pip-cache
        run: echo "::set-output name=dir::$(pip cache dir)"

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: | 
          python3 -m pip install -r ./docs/requirements.txt
          python3 -m pip install .
          sudo apt install gfortran
          wget https://github.com/m3g/packmol/archive/20.010.zip
          unzip 20.010.zip
          cd packmol-20.010
          sed 's/\/usr\/bin\/gfortran/gfortran/g' Makefile > tmp.txt
          mv tmp.txt Makefile 
          make 
          sudo cp packmol /usr/local/bin/


      - run: |
          cd docs && make examples && make html 

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force_orphan: true
          publish_dir: ./docs/_build/html

